<div class="row">
  <div class="col-12">
    <b>Select a term:</b>
    <br/>
    Administrator:
    <select class="custom-select" #administrator>
      <option selected>-- Select --</option>
      <option *ngFor="let admin of listofAdmins" value="{{admin['userID']}}">{{admin['firstName']}}</option>
    </select>
    <br/>
    User to Make Admin:
    <select class="custom-select" #user>
      <option selected>-- Select --</option>
      <option *ngFor="let nonadmin of listofNonAdmins" value="{{nonadmin['userID']}}">{{nonadmin['firstName']}}</option>
    </select>
    <br/>
    <div class="btn btn-primary" (click)="approve(administrator.value, user.value)">Approve</div>
  </div>
</div>
