<div class="row">
  <div class="col-12">

    <div class="form-group">
      <label class="control-label control-label-left col-sm-3" for="field0">Email</label>
      <div class="controls col-sm-9">

        <input [(ngModel)]="user.email"
          id="field0" type="text" class="form-control k-textbox" data-role="text"
               data-parsley-errors-container="#errId1">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label control-label-left col-sm-3" for="field1">First Name</label>
      <div class="controls col-sm-9">

        <input [(ngModel)]="user.firstName"
          id="field1" type="text" class="form-control k-textbox" data-role="text"
               data-parsley-errors-container="#errId1">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label control-label-left col-sm-3" for="field2">Last name</label>
      <div class="controls col-sm-9">

        <input [(ngModel)]="user.lastName"
          id="field2" type="text" class="form-control k-textbox" data-role="text"
               data-parsley-errors-container="#errId2">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label control-label-left col-sm-3" for="field3">Password</label>
      <div class="controls col-sm-9">

        <input [(ngModel)]="user.password"
          id="field3" type="text" class="form-control k-textbox" data-role="text"
               data-parsley-errors-container="#errId3">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label control-label-left col-sm-3" for="field4">Picture URL</label>
      <div class="controls col-sm-9">

        <input [(ngModel)]="user.picture"
          id="field4" type="text" class="form-control k-textbox" data-role="text"
               data-parsley-errors-container="#errId4">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label control-label-left col-3">Select Role</label>
      <div class="controls col-9">

        <label class="checkbox" for="checkbox17">
          <input [(ngModel)]="user.isStudent"
            type="checkbox" value="Student" id="checkbox17" name="field16" data-parsley-errors-container="#errId5">Student</label>
        <br/>
        <label class="checkbox" for="checkbox18">
          <input [(ngModel)]="user.isFaculty"
            type="checkbox" value="Faculty" id="checkbox18" name="field16" data-parsley-errors-container="#errId5">Faculty</label>
        <br/>
        <label class="checkbox" for="checkbox19">
          <input [(ngModel)]="user.isAdmin"
            type="checkbox" value="Admin" id="checkbox19" name="field16" data-parsley-errors-container="#errId5">Admin</label>
        <br/>

      </div>
    </div>

  </div>
</div>
<div id="panel5" class="panel panel-default" data-role="panel">
  <div class="panel-heading">Address</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field6">Street</label>
          <div class="controls col-sm-9">

            <input [(ngModel)]="user.street"
              id="field6" type="text" class="form-control k-textbox" data-role="text"
                   data-parsley-errors-container="#errId6">
          </div>

        </div>
        <div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field7">City</label>
          <div class="controls col-sm-9">

            <input [(ngModel)]="user.city"
              id="field7" type="text" class="form-control k-textbox" data-role="text"
                   data-parsley-errors-container="#errId7">
          </div>

        </div>
        <div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field8">Postal Code</label>
          <div class="controls col-sm-9">

            <input [(ngModel)]="user.postalCode"
              id="field8" type="text" class="form-control k-textbox" data-role="text"
                   data-parsley-errors-container="#errId8">
          </div>

        </div>
        <div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field9">Country</label>
          <div class="controls col-sm-9">

            <input [(ngModel)]="user.country"
              id="field9" type="text" class="form-control k-textbox" data-role="text"
                   data-parsley-errors-container="#errId9">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="printUser()">Submit</button>
