<div class="row">
<div class="col-12">
    <h2>Difficult Quiz Question/Topic</h2>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Question Text</th>
                <th>Topic Name</th>
                <th>Failed Attempt Count</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of difficultquiz">
            <td>{{item['questionText']}}</td>
            <td>{{item['topicName']}}</td>
            <td>{{item['failedAttemptCnt']}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>