<div class="row">
<div class="col-12">
  <b>Select a term:</b>
  <br/>
  <select class="custom-select" #selectedTerm>
    <option selected>-- Select --</option>
    <option value="Fall">Fall</option>
    <option value="Spring">Spring</option>
    <option value="Summer">Summer</option>
  </select>
  <div class="btn btn-primary" (click)="getTopicOfInterest(selectedTerm.value)">Get Report</div>

  <table class="table">
    <thead>
        <tr>
            <th>Semester</th>
            <th>Topic Name</th>
            <th>Average Rating</th>
            <th>Match Type</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of topicsofinterest">
        <th scope="row">{{item['semester']}}</th>
        <td>{{item['topicName']}}</td>
        <td>{{item['avgRating']}}</td>
        <td>{{item['matchType']}}</td>
    </tr>
  </tbody>
  </table>
</div>
</div>

