<div class="row">
<div class="col-12">
    <h2>Popular Course</h2>
    <br/>
    <table class="table">
       <tr>
        <td><b>Course Name</b></td>
        <td>{{popularcourse['courseName']}}</td>
       </tr>
       <tr>
        <td><b>Faculty Name</b></td>
        <td>{{popularcourse['facultyname']}}</td>
       </tr>
       <tr>
        <td><b>Enrollment Count</b></td>
        <td>{{popularcourse['enrollmentCnt']}}</td>
       </tr>
       <tr>
        <td><b>Average Rating</b></td>
        <td>{{popularcourse['avgRating']}}</td>
       </tr>
    </table>
</div>
</div>